@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    LOC_StateFilterModel filterModel = new LOC_StateFilterModel();
}

@using System.Data
@model DataTable
@using Admin_Panel.Areas.LOC_State.Models;


<br />
<h2 style="justify-content:center ">State List</h2>
<br />

<div class="container-fluid border border-dark p-4">
    <form class="row">
        <div><h2>Filter</h2></div>

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group col-4">
            <label class="form-label">Country Name</label>
            <div class="">
                <select class="form-control" asp-for="@filterModel.CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                    <option value="">Select Country</option>
                </select>
                <span asp-validation-for="@filterModel.CountryID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <lable class="form-label">Select Statename</lable>
            <input type="text" placeholder="Select Statename" asp-for="@filterModel.StateName" class="form-control mt-2" id="inputAddress">
        </div>
        <div class="col-4">
            <lable class="form-label">Select Statecode</lable>
            <input type="text" placeholder="Select statecode" asp-for="@filterModel.StateCode" class="form-control mt-2" id="inputAddress">
        </div>
        <div class="col-1 my-3 me-3">
            <button type="submit" class="btn btn-primary" asp-area="LOC_State" asp-controller="LOC_State" asp-action="LOC_StateFilter">
                Search
            </button>
        </div>

        <div class="col-10 my-3">

            <form>
                <button type="submit" class="btn btn-danger" runat="server" OnClientClick="this.form.reset();return false;">clear</button>
            </form>
        </div>
    </form>
</div>
<br />

<a class="btn btn-success" asp-area="LOC_State" asp-controller="LOC_State" asp-action="LOC_StateAdd">Add New</a>


<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">StateID</th>
            <th scope="col">StateName</th>
            <th scope="col">StateCode</th>
            <th scope="col">CountryName</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th colspan="2">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["StateID"]</td>
                <td>@dr["StateName"]</td>
                <td>@dr["StateCode"]</td>
                <td>@dr["CountryName"]</td>
                <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>

                <td>
                    <form method="post" asp-area="LOC_State" asp-controller="LOC_State" asp-action="Delete">
                        <input type="hidden" value="@Convert.ToInt32(dr["StateID"])" name="StateID">
                        <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-area="LOC_State" asp-controller="LOC_State" asp-action="LOC_StateAdd">
                        <input type="hidden" value="@Convert.ToInt32(dr["StateID"])" name="StateID">
                        <button type="submit" class="btn btn-primary" value="Edit">Update</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>


