@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="body">
    <div class="d-flex mt-3 mb-3">
        <h3>Country List</h3>
    </div>
    <div class="table-header d-flex" border="1">
        <div class="add-button mr-auto">
            <form method="post">
            <input type="submit" class="btn btn-success" asp-area="LOC_Country" value="Add New" asp-controller="LOC_CountryController" asp-action="LOC_CountryAdd"></input>
            </form>
        </div>
        <div class="search-field col-xl-4 ms-lg-auto">
            <form class="d-flex">
                <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">CountryID</th>
                <th scope="col">CountryName</th>
                <th scope="col">CountryCode</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>India</td>
                <td>IND</td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-info">Update</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Pakistan</td>
                <td>PAK</td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-info">Update</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Australia</td>
                <td>AUS</td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-info">Update</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
*@

@using System.Data
@model DataTable


<br />
<h2 style="justify-content:center ">Country List</h2>
<br />
<br />

<a class="btn btn-success" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">Add New</a>
<div class="search-field col-xl-4 ms-lg-auto d-flex">
    <div class="me-3">

        <form class="d-flex" method="get" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountrySearchByName">
            <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search" runat="server" name="CountryName" />
            <div><input type="submit" class="btn btn-outline-success" value="Search" runat="server"/></div>
        </form>
    </div>
</div>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">CountryID</th>
            <th scope="col">CountryName</th>
            <th scope="col">CountryCode</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th scope="col" colspan="2">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["CountryID"]</td>
                <td>@dr["CountryName"]</td>
                <td>@dr["CountryCode"]</td>
                <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
           
                   @* @*<form method="post" asp-controller="LOC_Country" , asp-action="Delete">
                        <input type="hidden" name="CountryID" value="@int.Parse(@dr["CountryID"].ToString())">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>*@
                   @* <form method="post" >
                        <button type="submit" class="btn btn-primary" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">Update</button>
                        <button type="submit" class="btn btn-danger" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="Delete" value="@Convert.ToInt32(dr["CountryID"].ToString())">Delete</button>
                    </form>*@

                <td>
                    <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="Delete">
                        <input type="hidden" value="@Convert.ToInt32(dr["CountryID"])" name="CountryID">
                        <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">
                        <input type="hidden" value="@Convert.ToInt32(dr["CountryID"])" name="CountryID">
                        <button type="submit" class="btn btn-primary" value="Edit">Update</button>
                    </form>
                </td>
              @*  <td>
                    <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">
                        <input type="hidden" value="@Convert.ToInt32(dr["CountryID"])" name="CountryID">
                        <button type="submit" class="btn btn-primary" value="Edit">Update</button>
                    </form>
                </td>*@
              
            </tr>
        }
    </tbody>
</table>

