@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    LOC_CountryFilterModel filterModel = new LOC_CountryFilterModel();
}

@*

*@

@using System.Data
@model DataTable
@using Admin_Panel.Areas.LOC_Country.Models;

<br />
<h2 style="justify-content:center ">Country List</h2>
<br />

<div class="container-fluid border border-dark p-4">
    <form class="row">
        <div><h3>Filter</h3></div>

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-6">
            <lable class="form-label">Select CountryName</lable>
            <input type="text" placeholder="Select CountryName" asp-for="@filterModel.CountryName" class="form-control mt-2" id="inputAddress">
        </div>
        <div class="col-6">
            <lable class="form-label">Select CountryCode</lable>
            <input type="text" placeholder="Select CountryCode" asp-for="@filterModel.CountryCode" class="form-control mt-2" id="inputAddress">
        </div>
        <div class="col-1 my-3 me-3">
            <button type="submit" class="btn btn-primary" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryFilter">
                Search
            </button>
        </div>

        <div class="col-10 my-3">
            <form>
                <button type="submit" class="btn btn-danger" runat="server" OnClientClick="this.form.reset();return false;">clear</button>
            </form>
        </div>
    </form>
</div>
<br />
<br />

<a class="btn btn-success" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">Add New</a>

<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">CountryID</th>
            <th scope="col">CountryName</th>
            <th scope="col">CountryCode</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th scope="col" colspan="2">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["CountryID"]</td>
                <td>@dr["CountryName"]</td>
                <td>@dr["CountryCode"]</td>
                <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>

                @* @*<form method="post" asp-controller="LOC_Country" , asp-action="Delete">
            <input type="hidden" name="CountryID" value="@int.Parse(@dr["CountryID"].ToString())">
            <input type="submit" value="Delete" class="btn btn-danger" />
            </form>*@
                @* <form method="post" >
            <button type="submit" class="btn btn-primary" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">Update</button>
            <button type="submit" class="btn btn-danger" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="Delete" value="@Convert.ToInt32(dr["CountryID"].ToString())">Delete</button>
            </form>*@

                <td>
                    <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="Delete">
                        <input type="hidden" value="@Convert.ToInt32(dr["CountryID"])" name="CountryID">
                        <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">
                        <input type="hidden" value="@Convert.ToInt32(dr["CountryID"])" name="CountryID">
                        <button type="submit" class="btn btn-primary" value="Edit">Update</button>
                    </form>
                </td>
                @*  <td>
            <form method="post" asp-area="LOC_Country" asp-controller="LOC_Country" asp-action="LOC_CountryAdd">
            <input type="hidden" value="@Convert.ToInt32(dr["CountryID"])" name="CountryID">
            <button type="submit" class="btn btn-primary" value="Edit">Update</button>
            </form>
            </td>*@

            </tr>
        }
    </tbody>
</table>

